<% layout('./layout/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h1>LogIn</h1>
                        <form action="/login" method="POST" class="validatedForm" novalidate>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" , name="username" ,
                                    placeholder="Username" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" , id="password" ,
                                    placeholder="Password" required>
                                <div class="invalid-feedback">Username cannot be blank</div>
                            </div>
                            <button class="btn btn-success d-block w-100">LogIn</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>